<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".presentation.view.YoutubeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".presentation.view.CarouselMediaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.InstallModuleActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.MovieXplorer" />
    </application>

</manifest>